body {
  min-height: auto;
}

.cuenta input.submit, .user input.submit, div.vientos .vientos__boton, .contacto input.submit {
  color: #ffffff;
  background-color: #150578;
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
}

div.vientos .vientos__botonpref {
  color: #150578;
  background-color: rgba(20, 5, 120, 0.3843137255);
  border-radius: 10px;
  padding-left: 2%;
  padding-right: 2%;
}

a.vmas {
  color: #150578;
}

.vmas:hover {
  color: rgba(20, 5, 120, 0.3843137255);
}

* {
  font-family: Noto Serif HK;
}

h1, h2, h3 {
  font-size: 1.8rem;
  font-weight: 900;
  margin: 1rem;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #150578;
  transition-property: all;
  transition-duration: 500ms;
  transform: scale(1.1);
}

li {
  list-style: none;
}

footer {
  background-color: #edede9;
  margin-top: auto;
}
footer i {
  margin-left: 5px;
}
footer img.logo {
  max-width: 300px;
}

header {
  background-color: #edede9;
}
header img.logo {
  max-width: 300px;
}
header .user a {
  margin-right: 5px;
}
header .buscar {
  border-radius: 10px;
  border: none;
  margin: 2px;
}
header .btn-cat {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}
header button.btn-cat:hover {
  color: #ffffff;
  transition-property: all;
  transition-duration: 500ms;
  transform: scale(1.1);
  padding: 3px;
  border-radius: 5px;
  background-color: #150578;
}

.dropdown-menucom {
  width: 30rem;
}

.dropdown-menuc {
  width: 20rem;
}

div.carousel-caption {
  background-color: rgba(0, 0, 0, 0.6352941176);
}
div.carousel-caption h2 {
  margin: 0%;
  margin-bottom: 2%;
}

div.vientos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  div.vientos__art {
    width: 280px;
    max-width: 280px;
    height: 462px;
    max-height: 462px;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
    transition-property: box-shadow;
    transition-duration: 0.3s;
    background-color: #ffffff;
    margin: 0px 8px 16px;
  }
  div.vientos__art div.vientos__img {
    height: 224px;
    width: 224px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  div.vientos__art div.vientos__img .vientos__art-img {
    max-width: 224px;
    max-height: 224px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.vientos__art .vientos__ha {
    border-top: 1px solid rgba(231, 231, 231, 0.862745098);
    padding: 1em;
    display: flex;
    flex-flow: column;
  }
  div.vientos__art .vientos__ha * + * {
    padding-bottom: 1em;
  }
  div.vientos__art .vientos__ha h3 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 8px;
  }
  div.vientos__art .vientos__ha .precio {
    font-size: 1.3em;
    font-weight: 600;
  }
  div.vientos__art .vientos__ha .enviogratis {
    background-color: rgba(0, 166, 80, 0.3294117647);
    color: #00a650;
    border-radius: 6px;
    font-weight: 600;
    width: 120px;
    margin: 1px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.vientos__art .vientos__ha a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
}
@media (min-width: 577px) {
  div.vientos__art {
    width: 90vw;
    max-width: 90vw;
    height: 250px;
    max-height: 250px;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
    transition-property: box-shadow;
    transition-duration: 0.3s;
    background-color: #ffffff;
    margin: 0px 8px 16px;
    display: flex;
  }
  div.vientos__art div.vientos__img {
    height: 224px;
    width: 224px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  div.vientos__art div.vientos__img .vientos__art-img {
    max-width: 100%;
    max-height: 224px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.vientos__art .vientos__ha {
    padding: 1em;
    display: flex;
    flex-flow: column;
    width: 70%;
  }
  div.vientos__art .vientos__ha * + * {
    padding-bottom: 1em;
  }
  div.vientos__art .vientos__ha h3 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 8px;
  }
  div.vientos__art .vientos__ha .precio {
    font-size: 1.3em;
    font-weight: 600;
  }
  div.vientos__art .vientos__ha .enviogratis {
    background-color: rgba(0, 166, 80, 0.3294117647);
    color: #00a650;
    border-radius: 6px;
    font-weight: 600;
    width: 120px;
    margin: 1px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.vientos__art .vientos__ha a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
}
@media (min-width: 768px) {
  div.vientos__art {
    width: 90vw;
    max-width: 90vw;
    height: 275px;
    max-height: 275px;
    border-radius: 6px;
    box-shadow: 0 0 0.1em rgba(0, 0, 0, 0.2);
    transition-property: box-shadow;
    transition-duration: 0.3s;
    background-color: #ffffff;
    margin: 0px 8px 16px;
    display: flex;
  }
  div.vientos__art div.vientos__img {
    height: 244px;
    width: 244px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  div.vientos__art div.vientos__img .vientos__art-img {
    max-width: 100%;
    max-height: 244px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.vientos__art .vientos__ha {
    padding: 1em;
    display: flex;
    flex-flow: column;
    width: 60%;
  }
  div.vientos__art .vientos__ha * + * {
    padding-bottom: 1em;
  }
  div.vientos__art .vientos__ha h3 {
    font-size: 1.15rem;
    font-weight: 300;
    margin: 0;
    margin-bottom: 8px;
  }
  div.vientos__art .vientos__ha .precio {
    font-size: 1.5em;
    font-weight: 600;
  }
  div.vientos__art .vientos__ha .enviogratis {
    background-color: rgba(0, 166, 80, 0.3294117647);
    color: #00a650;
    border-radius: 6px;
    font-weight: 600;
    width: 120px;
    margin: 1px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  div.vientos__art .vientos__ha a {
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
  }
}

.vientos__art:hover {
  box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.2);
  white-space: normal;
}

nav.nuestras-categorias ul li {
  border-bottom: solid 1px #edede9;
  margin-bottom: 1%;
}
nav.nuestras-categorias ul li img {
  width: 100px;
  height: 100px;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

@media (min-width: 768px) {
  nav.nuestras-categorias ul li {
    border-bottom: solid 1px #edede9;
    margin-bottom: 1%;
    font-size: 1.2em;
    display: block;
    width: 300px;
  }
  nav.nuestras-categorias ul li img {
    width: 140px;
    height: 140px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.bodyvientos {
  background-color: rgb(247, 247, 247);
}

div.vientos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
div.vientos .vientos__ha a:hover {
  color: white;
}

.vientos__ha a.vmas {
  color: #150578;
}

.vmas:hover {
  color: black;
}

.art__ha {
  background-color: black;
}

/*# sourceMappingURL=main.css.map */
