header{
    background-color: $color-backghf;

    img.logo{
        max-width: 300px;
    }

    .user a{
        margin-right: 5px;
    }

    .buscar {
        border-radius: 10px;
        border: none;
        margin: 2px;
    }

    .btn-cat{
        color: $color-blanco;
        background-color: #00000000;
        border: 0;
    }

    button.btn-cat:hover{
        @include animations ($color-blanco);
        padding: 3px;
        border-radius: 5px;
        background-color: $color-azul
    }
}

// cambio tamaño usuario
.dropdown-menucom{
    width: 30rem;
}

.dropdown-menuc{
    width: 20rem;
}