// Media queries

@mixin tammin {
    @media (max-width:576px){
        @content;
    }
}

@mixin tamsm {
    @media (min-width:577px){
        @content;
    }
}

// Molde categoria

%sepcategorias{
    border-bottom: solid 1px $color-backghf;
    margin-bottom: 1%;
}

%categorias{
    width: 100px;
    height: 100px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

// Molde Boton

%boton{
    color: $color-blanco;
    background-color: $color-azul;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
}
