// Media queries

@mixin tammin {
    @media (max-width:576px){
        @content;
    }
}

@mixin tamsm {
    @media (min-width:577px){
        @content;
    }
}

@mixin tammd {
    @media (min-width:768px){
        @content;
    }
}

// Molde Boton

%boton{
    color: $color-blanco;
    background-color: $color-azul;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
}

%botonpref{
    color: $color-azul;
    background-color: $color-azult;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
}